
body { 
    width: 100%;
    background: #eee; 
}

.container {
    font: 400 16px 'Cabin', sans-serif;
    background: #fff;
    box-shadow: 20px 20px 20px rgb(0,0,0,.2);
}

.navbar {
    position: fixed;
}

.navbar-margin-b {
    margin-bottom: 0;
}

.aside {
    height: 100%;
}

.aside-photo {
    display: flex;
    align-items: center;
}

.photo {
    width: 100%;
    border-radius: 5px;
}

.name {
    text-align: center;
    text-transform: uppercase;
}

.profession {
    font-weight: 12;
    text-align: center;
}

.content {
    color: #000;
    background: #7ea043;
}

.content__name {
    padding-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    color: #fff;
}

.content__line {
    width: 80%;
    height: 5px;
    margin: 0 10%;
    background: #000;
}

ul {
    padding-left: 0!important;
    list-style: none;
}

#contacts > ul > li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

#contacts > ul > li > a {
    padding-left: 5%;
}

.contacts__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts__list > li > .icon {
    background: #fff;
    border-radius: 100%;
}

.icon {
    height: 30px;
    width: 30px;
}

.contacts__list > li > a {
    font-weight: 400;
    color: #000;
    text-decoration: none;
}

.contacts__list > li > a:hover {
    color: #fff;
    font-style: italic;
}

.skills__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.skills__list > li {
    display: flex;
}

.skills_name {
    margin-left: 2%;
    font-size: 24px;
}

.languages__list {
    margin-top: 5%;
    padding-bottom: 10%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.languages__name {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.main {
    font-size: 20px;
}

.main__name {
    text-align: center;
    border-bottom: 5px solid #7ea043;
    text-transform: uppercase;
}

.main__text {
    text-align: justify;
}

.glo {
    text-decoration: none;
    color: #7ea043;
}

.projects__img {
    width: 100%;
    height: 200px;
    opacity: 0.5;
}

.projects__img:hover {
    opacity: 1;
}

.main > section {
    padding: 2% 5% 0 5%;
}

#about-me {
    padding-top: 10%;
}

#courses > ul {

    list-style: disc;
}

#courses > ul > li {
    padding-top: 2%;
    margin-bottom: 0;    
}

footer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000;
}

.my-github {
    display: flex;
    align-items: center;
}

.my-github > a {
    margin-left: 10px;
    color: #7ea043;
    text-decoration: none;
}

.logo-gh {
    height: 50px;
    width: 50px;
}

.logo-rss {
    height: 50px;
    width: 100%;
    margin-right: 5%;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.1%;
}
  
figure {
    height: 50%;
}

figcaption {
    margin-top: -10%;
    margin-left: 10%;
    color: white;
}

@media (max-width: 990px) {
    .js {
        font-size: 12px; 
    }
}

@media (max-width: 570px) {
    .js {
        font-size: 10px; 
    }

    .projects__img {
        height: 100px;
    }

    figcaption {
        margin-top: -50%;
    }

}
